.dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0pc rgba(0,0 ,0 ,2 );
}
.dropdown:hover .dropdown-content{
    display: block;
}

 .tooltip{
    position:relative;
    display: inline-black;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext{
    visibility:hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align:center;
    border-radius: 6px;
    padding: 5px 0 ;
    position: absolute;
    bottom:150%
    
}

.tooltip .tooltiptext::after{
    content: "";
    position:absolute;
    top:100%;
    left:50%;
    margin-left: -5px;
    border-width: 5px;
    border-style:solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
    visibility:visible;
}