:root{
    --primary-color:#06206a;
    --secondary-color:#fff;
    --padding:20px
}

h1{
    background-color: var(--primary-color);
    color:var(--secondary-color)
     var(--padding);
}

p{
    background-color: var(--primary-color);
    color:var(--secondary-color)
     var(--padding);
}

#example-one{
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: 3px solid rgb(77,224,77);
}

#example-four{
    margin:10px;
    width: 150px;
    height:150px;
    border-radius:5px 60px 5px;
    background:rgb(77,224,77)
}
#example-six{
margin: 10px;
width:150px;
height:150px;
border: radius 150px;
}